<footer class="success">
    <div class="d-flex">
        <div routerLink="/admin" class="logo-container">
            <img src="../../assets/tacos.png" alt="logo tacos" class="logo">
    </div>
        <div class="flex-center">
            <div class="lien"><i class="bi bi-facebook"></i></div>
            <div class="lien"><i class="bi bi-instagram"></i></div>
            <div class="lien"><i class="bi bi-twitter"></i></div>
        </div>
    </div>
    <hr class="divider">
    <div class="container flex-center">
        <ul class="list">
            <li class="list-item"><i class="bi bi-house"></i> 25 avenue de Montmartre <br>75000 Paris</li>
            <li class="list-item"><i class="bi bi-telephone"></i> 07.72.11.12.99</li>
            <li class="list-item"><i class="bi bi-envelope"></i>tacosparisien@gmail.com</li>
        </ul>
    </div>
</footer>
