<h1>Historique de vos commandes</h1>


<div class="container" *ngFor="let commande of commandes; let i = index">
    <div class="flex-col w-100">
        <div class="date">commande du {{commande.date | date:"dd/MM/yyyy"}} </div>
    <div class="row">
        <div class="label">Détail commande :</div>
        <div class="detail" *ngFor="let item of commande.detail">{{item.quantity}} {{item.product}}
        </div>
    </div>
        <div class="row">
            <div class="label">Numéro de commande :</div>
            <div class="detail"> {{commande.numeroCommande}} </div>
        </div>
        <div class="row">
            <div class="label">Montant :</div>
            <div class="detail">{{commande.montant}} €</div>
        </div>
    </div>
    <div class="action">
        <button (click)="refreshCommande(i)" 
        class="btn success">Commander à nouveau</button>
    </div>
</div>