
@media screen and (max-width:550px) {
    .form-group{
        width: 95%;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid var(--success);
        padding: 20px 0;
        max-width: 100%;
        border-radius: 20px;
    }
    .container-fluid{
        justify-content: center;
        align-items: center;
        color: var(--success);
        font-size: 20px;
        margin-bottom: 15px;
        height: 40px;
        display: block;
    }
    input, textarea{
        margin-left: 15px;
        border: 1px solid var(--success);
        border-radius: 20px;
        outline: none;
        padding: 5px 15px ;
    }
    button{
        margin-top: 12px;
        font-size: 25px;
    }
    h1{
        color: var(--success);
    }
    p.success{
        text-align: center;
        font-size: 30px;
        color: var(--warning);
    }
}

@media screen and (min-width:551px) {
    .form-group{
        width: 95%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid var(--success);
        padding: 20px 0;
        max-width: 100%;
        border-radius: 20px;
        max-width: 550px;
    }
    .container-fluid{
        justify-content: center;
        align-items: center;
        color: var(--success);
        font-size: 20px;
        margin-bottom: 15px;
        height: 40px;
        display: block;
        max-width: 550px;
    }
    input, textarea{
        margin-left: 15px;
        border: 1px solid var(--success);
        border-radius: 20px;
        outline: none;
        width: 160px ;
        padding: 5px 15px ;
    }
    button{
        margin-top: 12px;
        font-size: 24px;
    }
    h1{
        color: var(--success);
        font-size: 55px;
    }
    .invisible{
        height: 50vh;
        width: 100%;
        padding-top: 50px;
    }
    p.success{
        text-align: center;
        font-size: 30px;
        color: var(--warning
        );
    }
    .container{
        padding: 15px 10px;
        border-radius: 20px;
        font-size: 20px;
        text-align: center;
        max-width: 550px;
    }
}
