<h1>Nous Contacter</h1>

<form class="form-group"[formGroup]="contactForm" *ngIf="!isLoading">
    <div class="d-flex">
        <div class="flex-col">
            <div class="container-fluid">
                <label for="name">Votre Nom :</label>
            </div>
            <div class="container-fluid">
                <label for="name">Votre Prénom :</label>
            </div>
            <div class="container-fluid">
                <label for="name">Votre e-mail :</label>
            </div>
            <div class="container-fluid">
                <label for="name">Votre message :</label>
            </div>
          </div>
          <div class="flex-col">
              <div class="container-fluid">
                <input type="text" class="form-control" formControlName="name" />
                <p class="error" *ngIf="name.invalid && name.touched">Champs requis</p>
              </div>
              <div class="container-fluid">
                <input type="text" class="form-control" formControlName="firstname" />
                <p class="error" *ngIf="firstname.invalid && firstname.touched">Champs requis</p>
              </div>
              <div class="container-fluid">
                <input type="email" class="form-control"formControlName="email" />
                <p class="error" *ngIf="email.invalid && email.touched">Champs requis</p>
              </div>
              <div class="container-fluid">
                <textarea type="email" rows="2" class="form-control" formControlName="message"></textarea>
                <p class="error" *ngIf="message.invalid && message.touched">Champs requis</p>
              </div>
          </div>
    </div>
    <button type="button" (click)="onSubmit()" class="btn btn success">Envoyer</button>
  </form>
  <div class="spinner" *ngIf="isLoading">
    <mat-spinner class="load" diameter="250" color="accent"></mat-spinner>
  </div>